<!DOCTYPE html>
<html lang="en">
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8526138362872301"
     crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body> 
    <header>
    <h1>FileStamper</h1>
    </header>

    <div class="menu-bar">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
</body>

<div style="margin-left: 20px">
    <h2>Contact</h2>
    <p> If your need to contact the developer of the website to report bugs or suggestions, please use the email address provided below.</p>

    <p>Email: juan.rodriguez.2982@gmail.com</p>

    <p>I will try to respond within the next 2-3 business days.</p>

    <h2>About Me</h2>
    <p>I am a sole contributer to this website to provide a free tool to automate file organization. This website was launched in 2025.</p>

    <p>Any support to keep this website free is appreciated!</p>
</div>

<br>

<footer style="margin-left: 20px">
    <nav>
      <a href="/">Home</a><a> |</a>
      <a href="/privacy">Privacy Policy</a><a> |</a>
      <a href="/contact">Contact</a>
      <p> &copy; 2025 FileStamper. All rights reserved.</p>
    </nav>
</footer>

