<!DOCTYPE html>
<html lang="en">
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8526138362872301"
     crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body> 
    <header>
    <h1>FileStamper</h1>
    </header>

    <div class="menu-bar">
      <a href="/">Home</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/contact">Contact</a>
    </div>
</body>

<div style="margin-left: 20px">
    <h2>Privacy Policy</h2>

    <p>Below you will find the details related to your privacy as a user when operating this service.</p>

    <h3>Information Collection and Use</h3>

    <p>The only data that is collected in this website is the data uploaded on the home page. This data is then parsed for date and time information and nothing else. Customer data is erased everytime the service is called. No data obtained is opened or inspected.</p>

    <h2>Terms of Use</h2>

    <h3>Acceptance of Terms</h3>
    <p>By using the service provided by the FileStamper website, you are agreeding to the Terms of Use. If you disagree with the Terms of Use then you should immediately discontinue the use of the FileStamper service.</p>

</div>

<br>

<footer style="margin-left: 20px">
    <nav>
      <a href="/">Home</a><a> |</a>
      <a href="/privacy">Privacy Policy</a><a> |</a>
      <a href="/contact">Contact</a>
      <p> &copy; 2025 FileStamper. All rights reserved.</p>
    </nav>
</footer>

